.vscode
.venv
.env
.coverage
__pycache__
migrations
logs
stuff
onyx/data/models/projects/*
!onyx/data/models/projects/__init__.py
!onyx/data/models/projects/test.py
onyx/data/serializers/projects/*
!onyx/data/serializers/projects/__init__.py
!onyx/data/serializers/projects/test.py